loadfont unicode

set color_normal=white/black
set color_highlight=black/light-gray

menuentry "Start Linux Mint 22.1 Cinnamon 64-bit" --class linuxmint {
	set gfxpayload=keep
	linux	/casper/vmlinuz  boot=casper username=mint hostname=mint iso-scan/filename=${iso_path} quiet splash --
	initrd	/casper/initrd.lz
}
menuentry "Start Linux Mint 22.1 Cinnamon 64-bit (compatibility mode)" {
	linux	/casper/vmlinuz  boot=casper username=mint hostname=mint iso-scan/filename=${iso_path} noapic noacpi nosplash irqpoll nomodeset --
	initrd	/casper/initrd.lz
}
menuentry "OEM install (for manufacturers)" {
	set gfxpayload=keep
	linux	/casper/vmlinuz  oem-config/enable=true only-ubiquity boot=casper username=mint hostname=mint iso-scan/filename=${iso_path} quiet splash --
	initrd	/casper/initrd.lz
}

menuentry "Preseeded OEM install for NVME" {
	set gfxpayload=keep
	linux	/casper/vmlinuz url=https://raw.githubusercontent.com/elcoco/mint_autoinstall/refs/heads/master/linuxmint_oem_nvme.cfg oem-config/enable=true only-ubiquity boot=casper iso-scan/filename=${iso_path} quiet splash --
	initrd	/casper/initrd.lz
}

menuentry "Preseeded OEM install for SATA" {
	set gfxpayload=keep
	linux	/casper/vmlinuz url=https://raw.githubusercontent.com/elcoco/mint_autoinstall/refs/heads/master/linuxmint_oem_sata.cfg oem-config/enable=true only-ubiquity boot=casper iso-scan/filename=${iso_path} quiet splash --
	initrd	/casper/initrd.lz
}



grub_platform
if [ "$grub_platform" = "efi" ]; then
menuentry 'Boot from next volume' {
	exit 1
}
menuentry 'UEFI Firmware Settings' {
	fwsetup
}
menuentry 'Memory test' {
	linux	/boot/memtest.efi
}
fi
